nav{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
   }
  
   nav > ul > li {
       display: inline-block;
       margin-right: 50px;
       text-decoration:none;
       
   }
   nav  li > a {
       /* text-decoration: none; */
       color: black;
   
   }
  nav > ul > li :hover{
    background-color: rgb(132, 132, 101);
  }